# 这是一个示例环境变量文件，用于存储敏感信息
# 请根据实际情况填写你的key
OPENAI_API_KEY= sk-xxx
# 如果你需要使用多个apikey，你可以添加更多的环境变量，然后在yaml文件当中修改使用的key
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GOOGLE_API_KEY=your_google_api_key_here